* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Work Sans';
  src: url(assets/fonts/WorkSans-Italic-VariableFont_wght.ttf);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings: 'wdth' 100;
}
@font-face {
  font-family: 'Work Sans';
  src: url(assets/fonts/WorkSans-VariableFont_wght.ttf);
  font-optical-sizing: auto;
  font-weight: 400 600;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Work Sans';
  background-image: url('assets/images/background-pattern-mobile.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-color: #f3e6fa;
  font-size: 16px;
  padding-bottom: 40px;
}

@media (min-width: 376px) {
  body {
    background-image: url(assets/images/background-pattern-desktop.svg);
    padding-bottom: 80px;
  }
}
